@import "variables.less";
@import "mixins.less";

#kudosMessage {
  margin: 5px 0 0;
}

.kudosIconsContainer {
  max-height: ~"calc(100vh - 365px)";
  overflow: auto;
  margin: 0 auto !important;
  justify-content: center;
}

.kudosDateSelector {
  width: 288px;
}

.kudosIconContainerTop {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 115px;
  max-width: 100%;
  min-height: 82px;
  height: auto;
  display: table;

  .kudosIconContainer {
    padding: 0;
    overflow: hidden !important;

    .uiIconKudosCheck {
      position: absolute;
      left: ~"calc(50% - 8px)" ~'; /** orientation=lt */ ';
      right: ~"calc(50% - 8px)" ~'; /** orientation=rt */ ';
      top: 15px;
    }
  }
  .kudosIconContainerCurrent {
    left: 0 ~'; /** orientation=lt */ ';
    right: 0 ~'; /** orientation=rt */ ';
    top: -3px;
    position: absolute;
    background-color: @primaryColor;
    opacity: .2;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid @primaryColor;
    z-index: 1;
  }
  .kudosIconLink {
    padding: 0;
  }
  .kudosIconLinkInvisible {
    position: static;
    visibility: hidden;
  }
}
.kudosPeriodConfiguration > * {
  display: inline-block;
}
.kudosPeriodTypeInput {
  max-width: 150px;
  display: inline-block;
}

.SendKudosButtonTemplate{
  button {
    width: auto !important;
  }
  button:hover:before,
  button:focus:before {
    background-color: transparent !important;
  }
  .uiIconKudos {
    color: @primaryColor!important;
  }
}

.kudosWebNotifContent blockquote p {
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

#KudosAdminApp {
   margin: 10px 11px 0;
}

#KudosAdminApp, #KudosApp {
  .v-autocomplete label {
    z-index: 1002;
  }
  .v-menu__content {
    z-index: 1050 !important;
  }
  .v-input input {
    margin-bottom: 0;
    border: 0;
    box-shadow: none;
  }
  .contactAutoCompleteContent {
    top: 55px !important;
    left: 0 ~'!important; /** orientation=lt */ ';
    right: 0 ~'!important; /** orientation=rt */ ';
    position: absolute;
    width: 100%;
    z-index: 1050 !important;
  }
  .contactAutoComplete {
    position: relative;

    .v-list {
      padding: 0;
    }

    .v-list__tile {
      height: 30px;
      transition: unset;
      transform: none;
    }

    .v-list__tile:hover {
      background-color: @primaryColor;
      color: #fff;
      transition: unset;
      transform: none;
    }

    .v-list__tile__title {
      transition: unset;
      transform: none;
    }

    .v-list__tile__avatar {
      min-width: 25px;
    }
  }
  .autocompleteSelectedItem {
    cursor: pointer;
    margin: 0 3px 3px 0 ~'; /** orientation=lt */ ';
    margin: 0 0 3px 3px ~'; /** orientation=rt */ ';
    padding: 2px 6px;
    background: @primaryColor;
    color: #fff;
    border: 1px solid @primaryColor;
    border-radius: 3px;
    font-size: 15px;

    > .v-chip__content {
      height: auto;
      padding: 0;
    }
  }

  .clickable {
    cursor: pointer;
  }
}

.uiIconKudos.uiIconLightGrey {
  color: #c6c6c6 !important;
}
.uiIconKudosCheck.uiIconBlue {
  color: @tertiaryColor !important;
}
.uiIconKudos.uiIconBlue {
  color: @tertiaryColor !important;
}
.uiIconKudos.uiKudosAction.uiIconBlue {
  color: @primaryColor !important;
}
.uiIconKudosTipTip {
  font-size: 18px !important;
}
.v-divider--vertical {
  height: inherit!important;
  min-height: inherit!important;
}

.kudosOverviewCardsParent, .kudosOverviewCard {
  .kudosReceivedOverviewPeriod, .kudosSentOverviewPeriod {
    max-width: 230px;

    .kudosOverviewLabel, .kudosOverviewCount {
      overflow-wrap: normal;
      width: auto;
      max-width: fit-content;
    }
  }
}