@import "variables.less";
@import "mixins.less";

.uiIconKudos.uiIconLightGrey {
  color: #c6c6c6 !important;
}
.uiIconKudosCheck.uiIconBlue {
  color: @tertiaryColor !important;
}
.uiIconKudos.uiIconBlue {
  color: @tertiaryColor !important;
}
.uiIconKudosTipTip {
  font-size: 18px !important;
}