.uiIconKudos.uiIconLightGrey {
  color: #c6c6c6 !important;
}
.uiIconKudosCheck.uiIconBlue {
  color: #578dc9 !important;
}
.uiIconKudos.uiIconBlue {
  color: #578dc9 !important;
}
.uiIconKudosTipTip {
  font-size: 18px !important;
}